<h2>Tasks</h2>
<div>
  <%= render 'shared/tasks' %>
</div>

<script>
  var options = {
    valueNames: [ 'id', 'name', 'role', 'claimant' ]
  };
  var taskList = new List('tasks', options);
</script>
