<h2>Trackers</h2>
<div>
  <%= render 'shared/trackers' %>
</div>

<script>
  var options = {
    valueNames: [ 'id', 'action', 'conditions' ]
  };
  var trackerList = new List('trackers', options);
</script>
